<!DOCTYPE html>
<html>
    <head>
        <title>Ryan's Receipts</title>
    </head>
    <body>
        <header>
            <img src='/img/logo.png' alt="Ryan's Receipts Logo">
        </header>
        {{{body}}}
    </body>
</html>